:root {
    --background: #FFB300;
    --darkYellow: #492300;
}

* {
    padding: 0;
    margin: 0;
    margin-top: 3px;
}

#logo {
    transition: .5s ease;
}

#logo:hover {
    transform: rotate(5deg);
}

.bg {
    background-color: var(--background);
}

.mCollapse {
    display: none;
}

.minimenucont {
    display: none;
}

.menu {
    display: flexbox;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    text-align: center;
    height: auto;
}

.menu img {
    max-width: 60%;
}

.menuBtn {
    list-style-type: none;
    padding-left: 0;
}

.redes {
    display: inline;
}

.redes a img {
    max-width: 13%;
    margin: 0 3px;
    transition: .2s ease;
}

.redes a img:hover {
    transform: rotate(5deg);
}

.estampa-hdn {
    display: none;
    font-weight: 500;
    font-size: 75%;
    color: var(--darkYellow);
}

.menuBtn li:hover {
    color: white;
    cursor: pointer;
}

.img-row {
    display: inline-block;
    max-width: 49%;
    position: relative;
    
}

/* .imageOverlay {
    display: block;
    width: 100%;
    height: auto;
} */

.img-row img{
    object-fit: cover;
    max-width: 100%;
    margin-bottom: 5px;
}

.overlayTextImage {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--background);
}

.img-row:hover .overlayTextImage {
    opacity: .5;
}

.textOver {
    color: rgb(0, 0, 0);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

.video-row {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    /* max-width: 49%; */
}

.video-row iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.vd-txt {
    text-align: center;
    text-transform: capitalize;
}

.game-row {
    position: relative;
    width: 100%;
    padding-bottom: 59.25%;
    height: 0;;
}

.game-row iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.voltar-btn a {
    text-decoration: none;
    color: black;
}

.voltar-btn a:hover {
    color: white;
}

@media screen and (max-width: 575.9px) {
    .img-row {
        display: block;
        margin: auto;
        min-width: 100%;
    }

    .menu {
        font-size: xx-large;
    }

    .menu img {
        max-width: 20%;
        min-height: 20%;
        margin: 0 5% 8% 30%;
    }

    .menuBtn, .redes, .nome{
        display: none;
    }
    
    .logoM {
        display: flex;
        margin: auto;
    }

    .menuBtnColl li {
        margin: 0 10% 0 0;
        text-align: center;
        list-style: none;
    }

    .menuBtnColl li button:hover {
        color: white;
    }

    .menuBtnColl li button {
        background-color: transparent;
        border: 0;
        text-align: center;
        font-size: xx-large;
    }

    .minimenucont {
        display: block;
        width: 100%;
        margin: auto;
    }

    .redesa {
        margin-left: 25%;
        display: inline;
    }
    
    .redesa a img {
        max-width: 13%;
        margin: 0 3px;
        transition: .2s ease;
    }
    
    .redesa a img:hover {
        transform: rotate(5deg);
    }

    .mCollapse {
        display: flex;
        min-width: 10%;
    }

    .navbar-toggler {
        width: 100%;
    }

    .navbar-toggler img {
        width: 200px;
    }
}